fastapi>=0.110.0
uvicorn[standard]>=0.29.0
sqlmodel>=0.0.16
sqlalchemy>=2.0.28
pydantic>=2.7.0
pydantic-settings>=2.2.0
python-multipart
psycopg2-binary
httpx
cloudinary
python-dotenv
PyJWT
pwdlib[argon2]
Authlib
itsdangerous